<section class="pt-5 bg-min navbar-dark text-white">
    <div class="row container py-5  mx-auto text-center g-4">
        <div class="col-lg-4">
            <h2>LOCATION</h2>
            <p>2215 John Daniel Drive</p>
            <h6>Clark, MO 65243</h6>
        </div>
        <div class="col-lg-4 ">
            <h2>AROUND THE WEB</h2>
            <div class="icons">
                <i class="fa-brands fa-facebook mx-1 icon"></i>
                <i class="fa-brands fa-twitter mx-1 icon"></i>
                <i class="fa-brands fa-linkedin-in mx-1 icon"></i>
                <i class="fa-solid fa-globe mx-1 icon"></i></div>
        </div>
        <div class="col-lg-4">
            <h2>ABOUT FREELANCER</h2>
                <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
            
        </div>
    </div>
    <div class="foot py-2 bg-dark text-center">
        <p>Copyright © Your Website 2021</p>
    </div>
</section>
