<section class="py-3 container mt-5">
    <h1 class="text-center text-uppercase mt-5 py-3">conatct section</h1>
    <div class="my-3 text-center">
        <span class="line"></span>
        <span><i class="fa-solid fa-star"></i></span>
        <span class="line"></span>
    </div>
    <div class="row gap-4 w-50 mx-auto">
        <div class="form-floating mb-3">
            <input type="text" class="form-control border-top-0 border-start-0 border-end-0 shadow-none" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput" class="text-primary">User Name</label>
          </div>
          <div class="form-floating">
            <input type="number" class="form-control border-top-0 border-start-0 border-end-0 shadow-none" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword"class="text-primary">User Age</label>
          </div>
          <div class="form-floating">
              <input type="email" class="form-control border-top-0 border-start-0 border-end-0 shadow-none" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword"class="text-primary">User Email</label>
            </div>
            <div class="form-floating">
                <input type="email" class="form-control border-top-0 border-start-0 border-end-0 shadow-none" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword"class="text-primary">User Password</label>
            </div>
            <button type="button" class="btn btn-outline-success w-25">SEND</button>
        </div>
</section>